<%= stylesheet_link_tag "bootstrap.css", media: 'all', 'data-turbolinks-track' => true %>

<div class="container" style="width: 750px;"">
  <div class="jumbotron">
    <h1 style="text-align: center;">Edit Order</h1>
    <%= render 'form' %>
  </div>
</div>