<div class="container jumbotron">
  <h1>Order</h1>
  <p><%= link_to 'Edit order', edit_order_path, :class => 'btn btn-primary pull-right' %></p>
  <table class="table">
    <thead>
      <tr>
        <th>Item_ID</th>
        <th>Item Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.item.id %></td>
          <td><%= line_item.item.name %></td>
          <td><%= line_item.quantity %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>