<div class="container jumbotron custom-width">
  <h1>Items</h1>
  <% if can? :create, Item %>
    <p><%= link_to 'Add Item', new_item_path, class: 'btn btn-primary pull-right' %></p>
  <% end %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-sm-2">Item</th>
        <th class="text-center col-sm-2">Price</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td class = "table-align-right"><%= number_to_currency(item.price, unit: "PKR ") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @items %>

</div>