<div class="container custom-width">
  <div class="jumbotron">
    <h1>Editing Item</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @item, class: "pull-right"%>
    <span class=pull-right>|</span>
    <%= link_to 'Back', :back, class: "pull-right" %>
  </div>
</div>