<div class="container" style="width: 750px;">
  <div class="jumbotron">
    <p>
      <strong>Name:</strong>
      <%= @item.name %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @item.price %>
    </p>
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', items_path %>
  </div>
</div>