<div class="container custom-width"">
  <div class="jumbotron">
    <h1>Editing Member</h1>

    <%= render partial:  'form', locals: { member_url: member_path(@member) } %>

    <%= link_to 'Back', member_path(@member), class: "pull-right"%>
  </div>
</div>